body {
    background-image: url('../img/medical_background.jpg');
    background-color: #f8f9fa;
    color: #000000;
}

.container {
    margin-top: 50px;
}

/* Adjusted width for .case-container */
.case-container {
    background-color: #ffffe4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust the width as needed */
}

.case-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.case-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.case-item .action-buttons {
    display: flex;
    gap: 10px;
    align-items: center;

}

.case-item .action-buttons div {
    margin-right: auto;
}

.case-item .delete-btn {
    cursor: pointer;
    color: #dc3545;
}

.add-case-btn {
    margin-top: 20px;
}

/* Weather Widget Styles */
.weather-widget {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.custom-container {
    margin-top: 5px;
    max-width: max-content;
}

.translation-plugin {
    right: 0;
    margin: 20px;
    z-index: 1000;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

